.app {
  width: 400px;
  margin: 100px auto 0;
  border: outset;
  border-radius: 5px;
  text-align: center;
}

.image {
  width: 400px;
  height: 350px;
  padding-top: 20px;
}

.ball {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin: 20px auto 0;
}

.Day.image {
  background-color: #87ceeb;
}

.Day.ball {
  background-color: #ffdf22;
}

.Night.image {
  background-color: #310c52;
}

.Night.ball {
  background-color: #F5F3CE;
}